img {
  border-radius:7px;
}

.center-table {
  text-align: center;
}

.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial; /* Reset alignment for table cells */
  width: 100%;
}

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.youtube {
  color: #EE0F0F;
}
